.container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    z-index: 10;

    font-family: 'VT323', monospace;
}

.modal {
    margin: auto;
    width: 50%;
    height: auto;
    position:relative;
    z-index: 20;
    top: 10%;

	background:#e1e1e1; 
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.4); 
    box-shadow:0 0 20px rgba(0,0,0,0.4);	
}

.modal .content {
	padding: 5%;
}

.modal .content p {
	text-align: center;
	width: 100%; height: 100%;
}

.modal .content h1 {
	text-align: center;
	margin-top: 0px;
}

.modal .content button {
	margin: 0 auto;
	display: block;
	font-family: 'VT323', monospace;
}

.modal .content .bomb {
	 margin: auto;
	width: 126px; 
	display: block;
}